<!DOCTYPE html>
<html>
<head>
  <title>ReleaseNotes</title>
  <%= stylesheet_link_tag    "release_notes/application", media: "all" %>
  <%= javascript_include_tag "release_notes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
